
#pragma once
#include <string>
#include <ros/ros.h>

namespace {{args.package.name}} {

std::vector<std::string> get_private_parameters(ros::NodeHandle nh_private);

bool set_private_parameter(ros::NodeHandle nh_private, const std::string& param_name, const std::string& param_value);

}