<?xml version="1.0"?>
<root BTCPP_format="4" main_tree_to_execute="{{ feature.tree.id | default('MainTree', true) }}">
  <BehaviorTree ID="{{ feature.tree.id | default('MainTree', true) }}">
    <Sequence name="root">
{% set node_cfg_single = node | default(feature.node, true) %}
{% set nodes_cfg = feature.nodes | default([], true) %}
{% if nodes_cfg | length == 0 and node_cfg_single %}
  {% set nodes_cfg = [node_cfg_single] %}
{% endif %}
{% for cfg in nodes_cfg -%}
  {% set identifier = cfg.name | default(cfg.id | default('ActionNode', true), true) %}
  {% set registration_id = cfg.registration_id | default(cfg.id or cfg.name or (identifier | to_pascal_case), true) %}
  <{{ registration_id }}
    name="{{ identifier }}"
{%- set input_ports = cfg.ports.inputs | default([], true) -%}
{%- for port in input_ports %}
    {{ port.name }}="{% if port.default is defined %}{{ port.default }}{% else %}@@{{ port.name | upper }}@@{% endif %}"
{%- endfor %}
  />
{% endfor -%}
{% if nodes_cfg | length == 0 %}
  <!-- TODO: add BehaviorTree nodes to this tree -->
{% endif %}
    </Sequence>
  </BehaviorTree>
</root>
