<launch>
    <!-- Default arguments -->
    <arg  name="namespace}}"
        default="{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}"
            doc="Namespace for the {{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}} nodes." />
    <arg  name="simulation"
        default="true"
            doc="Flag to start the application as a simulation or not." />
    <arg  name="simulation_with_gazebo"
        default="true"
            doc="Flag to start the application with Gazebo simulation. If simulation is false, this will be ignored." />

    {%- if args.link_serve %}{%- if args.link_serve.launch %}{%- if args.link_serve.launch.arguements %}
    <!-- Specific arguments -->
    {%- for arg in args.link_serve.launch.arguements %}
    <arg   name="{{ arg.name }}"
        default="{{ arg.default }}"
            doc="{{ arg.description }}" />
    {% endfor %}{% endif %}{% endif %}{% endif %}

</launch>
