#!/usr/bin/env python3
"""Executable entry point for {{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}."""

from {{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}.ros_node import main


if __name__ == '__main__':
    main()
