<launch>
    <!-- Default arguments -->
    <arg  name="namespace}}"
        default="{{ args.package.name |to_snake_case}}"
            doc="Namespace for the {{ args.package.name |to_snake_case}} nodes." />
    <arg  name="simulation"
        default="true"
            doc="Flag to start the application as a simulation or not." />
    <arg  name="simulation_with_gazebo"
        default="true"
            doc="Flag to start the application with Gazebo simulation. If simulation is false, this will be ignored." />

    <!-- Specific arguments -->
    <arg name="instance_config_folder"
    default="$(find {{ args.package.name |to_snake_case}})/example/instance_config/$(arg namespace)"
        doc="Location of the instance config folder." />

{%- if args.multi_serve  %}{%- if args.multi_serve.launch  %}{%- if args.multi_serve.launch.arguements  %}
{%- for arg in args.multi_serve.launch.arguements %}
    <arg   name="{{ arg.name }}"
        default="{{ arg.default }}"
            doc="{{ arg.description }}" />
{% endfor %}{% endif %}{% endif %}{% endif %}

    <!-- Place your launch file conetent here. -->
    <node name="{{ args.package.name |to_snake_case}}_node"
        pkg="{{ args.package.name |to_snake_case}}"
        type="node"
        output="screen">
        <rosparam command="load" file="$(arg instance_config_folder)/config.yaml"/>
    </node>
</launch>