from setuptools import setup, find_packages

setup(
    name='{{ args.package.name |to_snake_case}}',
    version='{{args.package.version}}',
    packages=find_packages('src'),
    package_dir={'': 'src'},
)
