#include "{{ args.package.name }}/BehaviorTree.CPP/register_nodes.hpp"

{%- for action in actions %}
#include "{{ args.package.name }}/BehaviorTree.CPP/actions/{{ action.file_stem }}.hpp"
{%- endfor %}

namespace {{ args.package.name | regex_replace('[^A-Za-z0-9]', '_') }}::bt {

void register_behavior_tree_nodes(BT::BehaviorTreeFactory &factory)
{
{%- if actions %}
{%- for action in actions %}
  factory.registerNodeType<actions::{{ action.class_name }}>("{{ action.registration_id }}");
{%- endfor %}
{%- else %}
  (void)factory;
{%- endif %}
}

}  // namespace {{ args.package.name | regex_replace('[^A-Za-z0-9]', '_') }}::bt

