#include "ros/ros_node.hpp"
#include "{{ args.package.name |to_snake_case}}/{{ args.package.name |to_snake_case}}.hpp"

using namespace {{ args.package.name|to_snake_case }};

int main(int argc, char** argv)
{
    spdlog::set_level(spdlog::level::info); 

    rclcpp::init(argc, argv);

    rclcpp::spin(std::make_shared<ROSNode>());
    rclcpp::shutdown();

    return 0;
}
