#pragma once

#include <string>
#include <spdlog/spdlog.h>

namespace {{ args.package.name }} {

class LogicModuleOutputInterface {
public:
    virtual ~LogicModuleOutputInterface() = default;

    // === Setter for the callback interface function ===
{%- if args.ros is defined %}
{%- if args.ros.interfaces is defined %}
{%- for interface in args.ros.interfaces if interface.type == "topic" and interface.direction == "out" %}
    // {{ interface.description }}
    {%- if args.lookup.interfaces.msgs[interface.msgs] is defined %}
    {%- set lu = namespace(ros_data_type = args.lookup.interfaces.msgs[interface.msgs].ros_data_type,
                           cpp_data_type=args.lookup.interfaces.msgs[interface.msgs].cpp_data_type) %}
    void set_pub_callback_{{ interface.name|replace(' ', '_')|replace('-', '_') }}(const std::function<void(const {{ lu.cpp_data_type }}&)> callback)
    {
        pub_callback_{{ interface.name|replace(' ', '_')|replace('-', '_') }}_ = callback;
    }
    {%- else %}
    // For other message types, implemetnation is required
    // void set_pub_callback_{{ interface.name|replace(' ', '_')|replace('-', '_') }}(const std::function<void( <corresponding-cpp-data-type>)> callback)
    // {
    //   pub_callback_{{ interface.name|replace(' ', '_')|replace('-', '_') }}_ = callback;
    // }
    {%- endif %}
{%- endfor %}
{%- endif %}
{%- endif %}

protected:
    // === Callback function for the interface ===
{%- if args.ros is defined %}
{%- if args.ros.interfaces is defined %}
{%- for interface in args.ros.interfaces if interface.type == "topic" and interface.direction == "out" %}
    // {{ interface.description }}
    {%- if args.lookup.interfaces.msgs[interface.msgs] is defined %}
    {%- set lu = namespace(ros_data_type = args.lookup.interfaces.msgs[interface.msgs].ros_data_type,
                           cpp_data_type=args.lookup.interfaces.msgs[interface.msgs].cpp_data_type) %}    
    std::function<void(const {{ lu.cpp_data_type }}&)> pub_callback_{{ interface.name|replace(' ', '_')|replace('-', '_') }}_;
    
    {%- else %}
// For other message types, implemetnation is required
// std::function <const {{ interface.msgs.split('/')[0] }}::{{ interface.msgs.split('/')[1] }}> pub_callback_{{ interface.name }}_;
    {%- endif %}
{%- endfor %}
{%- endif %}
{%- endif %}
};

} // namespace: {{ args.package.name }}