from loguru import logger

import rospy
from std_msgs.msg import String

from package_name.package_name import test

def main():
    test()
    logger.info("This is a test log message from node_py.py.")

if __name__ == "__main__":
    main()