#pragma once

#include <string>
#include <spdlog/spdlog.h>

namespace {{args.package.name}} {

class LogicModule {
public:
    LogicModule();
    std::string greet(const std::string& name) const;
    void spdlog_test(double number) const;
};

}
