#pragma once

#include <string>
#include <spdlog/spdlog.h>

namespace {{ args.package.name }} {

class LogicModuleInterface {
public:
    virtual ~LogicModuleInterface() = default;
    
    // === Interface functions ===
    // handle ROS subscriptions
{%- for interface in args.ros.interfaces if interface.type == "topic" and interface.direction == "in" %}
    // {{ interface.description }}
    {%- if interface.msgs == "std_msgs/String" %}
    virtual void process_sub_{{interface.name}}(const std::string&) {}
    {%- elif interface.msgs == "std_msgs/Float64" %}
    virtual void process_sub_{{interface.name}}(double) {}
    {%- elif interface.msgs == "std_msgs/Float32" %}
    virtual void process_sub_{{interface.name}}(float) {}
    {%- elif interface.msgs == "std_msgs/Int32" %}
    virtual void process_sub_{{interface.name}}(int32_t) {}
    {%- elif interface.msgs == "std_msgs/Int64" %}
    virtual void process_sub_{{interface.name}}(int64_t) {}
    {%- elif interface.msgs == "std_msgs/UInt32" %}
    virtual void process_sub_{{interface.name}}(uint32_t) {}
    {%- elif interface.msgs == "std_msgs/UInt64" %}
    virtual void process_sub_{{interface.name}}(uint64_t) {}
    {%- elif interface.msgs == "std_msgs/Int8" %}
    virtual void process_sub_{{interface.name}}(int8_t) {}
    {%- elif interface.msgs == "std_msgs/UInt8" %}
    virtual void process_sub_{{interface.name}}(uint8_t) {}
    {%- elif interface.msgs == "std_msgs/Bool" %}
    virtual void process_sub_{{interface.name}}(bool) {}
    {%- elif interface.msgs == "std_msgs/Byte" %}
    virtual void process_sub_{{interface.name}}(uint8_t) {}
    {%- elif interface.msgs == "std_msgs/Empty" %}
    virtual void process_sub_{{interface.name}}() {}
    {%- else %}
    // For other message types, implemetnation is required
    // virtual void process_sub_{{interface.name}}(const {{ interface.msgs.split('/')[0] }}::{{ interface.msgs.split('/')[1] }} &msg);
    {%- endif %}
{%- endfor %}

    // === Service call ===
{%- for interface in args.ros.interfaces if interface.type == "service" and interface.direction == "in" %}
    // {{ interface.description }}
    {%- if interface.msgs == "std_srvs/SetBool" %}
    virtual void process_srv_{{interface.name}}(bool, bool&, std::string&) {}
    {%- elif interface.msgs == "std_srvs/Trigger" %}
    virtual void process_srv_{{interface.name}}(bool&, std::string&) {}
    {%- elif interface.msgs == "std_srvs/Empty" %}
    virtual void process_srv_{{interface.name}}() {}
    {%- else %}
    // For other message types, implemetnation is required
    // virtual void process_srv_{{interface.name}}({{ interface.msgs.split('/')[0] }}::{{ interface.msgs.split('/')[1] }} &req, {{ interface.msgs.split('/')[0] }}::{{ interface.msgs.split('/')[1] }} &res);
    {%- endif %}
{%- endfor %}

    // === Action server callbacks ===
    {%- for interface in args.ros.interfaces if interface.type == "action" and interface.direction == "in" %}
    // {{ interface.description }}
    virtual void process_act_{{interface.name}}(const {{ interface.msgs.split('/')[0] }}::{{ interface.msgs.split('/')[1] }}::GoalConstPtr&) {}
    {%- endfor %}


}