#pragma once

#include <string>
#include <spdlog/spdlog.h>

#include "{{args.package.name}}/{{args.package.name}}_interface.hpp"

namespace {{args.package.name}} {

class LogicModule : public LogicModuleInterface {
public:
    LogicModule();
    std::string greet(const std::string& name) const;
    void spdlog_test(double number) const;
};

}
