#include "ros/ros_node.hpp"
#include "{{args.package.name}}/{{args.package.name}}.hpp"

using namespace {{ args.package.name|regex_replace('[^A-Za-z0-9]', '_') }};

int main(int argc, char** argv)
{
    spdlog::set_level(spdlog::level::info); 

    rclcpp::init(argc, argv);

    rclcpp::spin(std::make_shared<ROSNode>());
    rclcpp::shutdown();

    return 0;
}
