from loguru import logger

import rospy
from std_msgs.msg import String

from {{ args.package.name |to_snake_case}}.{{ args.package.name |to_snake_case}} import test

def get_parameters():
     # fetch topic_name from the ~private namespace
    config = rospy.get_param('~config')
    logger.debug(config)
    return config

def main():
    logger.info("This is a test log message from node_py.")
    
    # initialize the ROS node
    rospy.init_node('{{ args.package.name |to_snake_case}}_node')
    
    config = get_parameters()
    test(config['hello'])

if __name__ == "__main__":
    main()