from loguru import logger

def test(message = "Hello, World!"):
    logger.info(f"This is a test log message from src/{{ args.package.name |to_snake_case}}/{{ args.package.name |to_snake_case}}: {message}")