#pragma once

#include <string>
#include <spdlog/spdlog.h>

#include "{{ args.package.name |to_snake_case}}/{{ args.package.name |to_snake_case}}_input_interface.hpp"
#include "{{ args.package.name |to_snake_case}}/{{ args.package.name |to_snake_case}}_output_interface.hpp"

namespace {{ args.package.name |to_snake_case}} {

class LogicModule : public LogicModuleInputInterface, public LogicModuleOutputInterface
{
public:
    LogicModule();
    void set_logger_level(std::string level_str);

    // test functions
    std::string greet(const std::string& name) const;
    void spdlog_test(double number) const;
};

}
