#pragma once

#include <string>
#include <spdlog/spdlog.h>

#include "{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}/{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}_input_interface.hpp"
#include "{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}/{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}_output_interface.hpp"

namespace {{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}} {

class LogicModule : public LogicModuleInputInterface, public LogicModuleOutputInterface
{
public:
    LogicModule();
    void set_logger_level(std::string level_str);

    // test functions
    std::string greet(const std::string& name) const;
    void spdlog_test(double number) const;
};

}
