#include "{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}/{{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}.hpp"

namespace {{ args.package.name |regex_replace('[^A-Za-z0-9]', '_')}}
{

LogicModule::LogicModule() {}

std::string LogicModule::greet(const std::string& name) const {
    fmt::print("This is a non-ROS module.\n");

    return fmt::format("Hello, {}! This is a non-ROS module.", name);
}

void LogicModule::spdlog_test(double number) const {
    spdlog::info("Welcome to spdlog version {}.{}.{}  !", SPDLOG_VER_MAJOR, SPDLOG_VER_MINOR,
        SPDLOG_VER_PATCH);

    spdlog::warn("My float {:03.2f}", number);

    spdlog::warn("Easy padding in numbers like {:08d}", 12);
    spdlog::critical("Support for int: {0:d};  hex: {0:x};  oct: {0:o}; bin: {0:b}", 42);
    spdlog::info("Support for floats {:03.2f}", 1.23456);
    spdlog::info("Positional args are {1} {0}..", "too", "supported");
    spdlog::info("{:>8} aligned, {:<8} aligned", "right", "left");
}

void LogicModule::set_logger_level(std::string level_str)
{
    // to lower case
    std::transform(level_str.begin(), level_str.end(), level_str.begin(), ::tolower);
    // Set the logger level based on the provided string
    if (level_str == "debug")
    {
        spdlog::set_level(spdlog::level::debug);
        spdlog::info("Log level set to debug");
    }
    else if (level_str == "info")
    {
        spdlog::set_level(spdlog::level::info);
        spdlog::info("Log level set to info");
    }
    else if (level_str == "warn")
    {
        spdlog::set_level(spdlog::level::warn);
        spdlog::info("Log level set to warn");
    }
    else if (level_str == "error")
    {
        spdlog::set_level(spdlog::level::err);       // spdlog::err is equivalent to error
        spdlog::info("Log level set to error");
    }
    else if (level_str == "fatal")
    {
        spdlog::set_level(spdlog::level::critical);  // Mapping fatal to critical
        spdlog::info("Log level set to critical");
    }
    else
    {
        spdlog::set_level(spdlog::level::info);      // Default fallback level
        spdlog::warn("Invalid log level provided ({}). Defaulting to info level.", level_str);
    }
}

{%- if args.ros is defined %}
{%- if args.ros.interfaces is defined %}

// Action client interface implementations
{%- for interface in args.ros.interfaces if interface.type == "action" and interface.direction == "in" %}
{%- if args.lookup.interfaces.msgs[interface.msgs] is defined %}
{%- set lu = args.lookup.interfaces.msgs[interface.msgs] %}
{%- if lu.cpp_data_type.goal %}
{%- set goal_param_type = lu.cpp_data_type.goal[0].type %}
void LogicModule::interface_act_{{ interface.name|regex_replace('[^A-Za-z0-9]', '_') }}(const {{ goal_param_type }}& goal_param) {
    // Call the ROS layer action client callback (with underscore)
    if (act_callback_{{ interface.name|regex_replace('[^A-Za-z0-9]', '_') }}_) {
        act_callback_{{ interface.name|regex_replace('[^A-Za-z0-9]', '_') }}_(goal_param);
    }
}
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endif %}

}
